* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
} 

.column {
    flex-grow: 1;
}

.logo-container {
    display: flex;
    position: relative; 
    top: 20%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgba(0 0 0 / 40%);
}

.page-logo {
    height: 100px;
}

.left {
    background-image: url(form-images/form-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.right {
    text-align: center;
    align-content: center;
}

.disclaimer-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 85%; 
    color: orange;
}

form .form-containers {
    justify-content: space-evenly;
}

.form-containers {
    display: flex;
    margin: 50px;
}

.form-controls {
    text-align: left;
    width: 200px;
}