* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
} 

.column {
    flex-grow: 1;
}

.page-logo {
    max-width: 100%;
    background-color: rgba(0 0 0 / 40%);
    position: relative;
    top: 20%;
}

.left {
    background-image: url(form-images/form-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.right {
    text-align: center;
    align-content: center;
    background-color: blue;
}